@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}

h1, h2, p, ul, h3 {
    margin: 0px;
    padding: 0px;
}

h1 {
    padding-top: 60px;
    padding-bottom: 25px;
}

h2 {
    padding-bottom: 10px;
    padding-top: 10px;
}

p {
    /* padding-top: 20px; */
    /* padding-bottom: 25px; */
}

h1, h2, h3, p {
    color: #1A1919;
}

h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
}

h2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
}

p, a, li {
    /* font-weight: 400; */
    font-size: 14px;
    line-height: 26px;
}

h3 {
    font-size: 17px;
    line-height: 35px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #005CC7;
}

a:hover {
    /* text-decoration: underline; */
}

a:hover .peach-text-link {
    background: #cf43022a;
    /* padding: 0px 5px; */
    /* text-shadow: 1px 1px 1px #fff; */
}

a:hover .teal-text-link {
    background: #2fa8a438;
    /* padding: 0px 5px; */
    /* text-shadow: 1px 1px 1px #fff; */
}

a:hover .blue-text-link {
    background: #0763cc33;
    /* padding: 0px 5px; */
    /* text-shadow: 1px 1px 1px #fff; */
}

a:hover .mauve-text-link {
    background: #42334b27;
    /* padding: 0px 5px; */
    /* text-shadow: 1px 1px 1px #fff; */
}

a:hover .beige-text-link {
    background: #4e422023;
    /* padding: 0px 5px; */
    /* text-shadow: 1px 1px 1px #fff; */
}

a:visited { 
    /* color: inherit; */
}

ul {

}

li {

}

hr {
    opacity: 0.2;
    border: .5px solid #979797;
    
}

.bold-text {
    font-weight: 500;
}

.gap-20 {
    margin: 0px;
    padding-top: 20px;
}

.gap-10 {
    margin: 0px;
    padding-top: 10px;
}


.highlight-text {
    /* color: #005CC7; */

    background: #FEF1A8;
    padding: 0px 5px;

    font-style: normal;
    /* border-radius: 1em 0 1em 0; */
    text-shadow: 1px 1px 1px #fff;
    /* background-image: 
      linear-gradient(-100deg, 
        rgba(255,250,150,0.15),
        rgba(255,250,150,0.8) 100%, 
        rgba(255,250,150,0.25)
      ); */
}

.email-icon {
    display: none;
}

.email-text {

}

.work-grid-item img {
    /* height: 100%; */
    width: 100%;
}

.skills-list {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
}

.show-hide-control {
    display: none;
}

.no-bullet {
    list-style-type: none;
    padding-left: 0;
}

.with-bullet {
    list-style-position: inside;
}

.logo-icon {
    width: 55px;
    height: auto;
}

.faux-link {

}

.logo-text {
    /* font-family: Rubik-Light; */
    /* font-size: 25px; */
    /* color: #1A1919; */
    /* color: #005CC7; */
}

.page {
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: 250px 1fr 250px; */
    padding: 10px;
}

.page > p, h1, ul {
    max-width: 680px;

}

.text-label {
    font-weight: 400;
    font-size: 14px;
    color: #77716F;
    /* text-align: right; */
    line-height: 26px;
}

.text-link {
    font-weight: 500;
    /* font-size: 14px; */
    /* color: #005CC7; */
    /* text-align: right; */
    line-height: 26px;
}

.header {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: auto auto;
    /* grid-auto-flow: column; */
}

.contact-cta {
    justify-self: end;
}

.footer {
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
    gap: 20px;

    grid-template-columns: minmax(auto, 50%);

}

.footer-item {
    display: inline;
}

.footer-hr {
    padding-top: 25px;
    padding-bottom: 10px;
}

.case-study-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-top: 25px;
}

.case-study-list-item {
    /* height: 338px; hmw replace pixels?  */
    height: auto;
    /* give image specific height and replace this height with 100% or auto */
    display: grid;
}

.case-study-list-item-content-full {
    /* justify-self: end; */
    /* align-self: end; */
    margin: 40px;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: auto auto;
    text-decoration-color: #1A1919 !important;
    /* important to overide anchor colour */
}

.vertical-center-grid-item {
    align-self: center;
    padding-right: 40px;
}

.case-study-title-text:hover {
    opacity: .9;
    /* color: #D7EFEE; */
    /* text-decoration: underline; */
}

.case-study-photo {
    width: 100%;
}

.kenburns-top:hover {
	-webkit-animation: kenburns-top 1s ease-in-out both;
	        animation: kenburns-top 1s ease-in-out both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-7-22 11:49:59
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
 @-webkit-keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.05) translateY(-5px);
              transform: scale(1.05) translateY(-5px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  @keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.05) translateY(-5px);
              transform: scale(1.05) translateY(-5px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  
  

.case-study-photo-index-wide {
    width: 100%;
}

.case-study-list-item-content-half {
    justify-self: start;
    align-self: end;
    margin: 40px;
    text-decoration-color: #1A1919 !important;
    /* important to overide anchor colour */
}

.case-study-full-span {
    /* display: grid; */
    /* grid-template-columns: 1f 1fr; */
}

.work-full {
    grid-column: span 2;
}

.work-half {
    grid-column: span 1;
}

.works-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 20px;
}

.work-grid-item {
    height: 220px; /* hmw replace pixels? */
}

.writing-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.wiritng-medium-link {
    grid-column: span 1;
    height: 275px; /* hmw replace pixels? */
    position: relative;
    padding: 40px;
}

.wiritng-medium-icon {
    display: grid;
    grid-template-columns: auto auto;
    margin: 40px;
    grid-gap: 20px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.wiritng-medium-icon p {
    /* display: inline-block; */
    /* padding-right: 20px; */
    align-self: center;
}

.writings-list-grid {
    display: grid;
    grid-template-columns: 1fr;
}

.writings-list-item {
    grid-column: 2 / span 1;
}

.blue-bg {
    background: #E2EFF9;
}

.teal-bg {
    background: #D7EFEE;
}

.peach-bg {
    background: #FCE7DD;
}

.beige-bg {
    background: #F6F1E4;
}

.mauve-bg {
    background: #DFD8E3;
}

.grey-bg {
    background: #F0F0EE;
}

.black-text {
    color: #000000;
}

.blue-text {
    color: #005CC7;
}

.blue-text:hover {
     text-decoration: underline;
}

/* show external link icon only on hover */
.blue-text:hover .show-on-hover {
    display: inline;
}

/* hide external link icon until hover */
.blue-text .show-on-hover {
    /* color: #005CC7; */
    color: #99A5B1;
    display: none;
}


.playlist-groups {
    max-width: 680px;
    columns: 2 auto;
    column-gap: 20px;
}

.playlist-group {
    display: inline-block;
    width: 100%;
}

.anchor-marker {
    /* color: #005CC7; */
    background: #FEF1A8;
    position: absolute;
    top: 60px;
    left: -50px;
    padding: 3px 22px 3px 12px;
}

.anchor-marker-h3 {
    background: #FEF1A8;
    padding: 3px 22px 3px 12px;
    position: absolute;   
    left: -50px;
    top: 5px;
}

.anchor-marker-h2 {
    background: #FEF1A8;
    padding: 3px 22px 3px 12px;
    position: absolute;   
    left: -50px;
    /* firefox: */
    /* top: 28px; */
    /* chrome: */
    top: 14px;
}

.playlist-group .anchor-marker {
    top: 28px;
}

.case-study-overview {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 20px;
}

.anchor-text {
    /* display: inline-block; */
    /* position: relative; */
    /* right: 50px; */
}

.underline-link {
    text-decoration: underline;
    /* text-decoration-color: #FEF1A8; */
}

.page-anchor {
        position: relative;
}

.video-container {
    display: grid;
    justify-items: center;
    padding: 40px;
}


.case-study-body-two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

.email-icon {
    display: inline;
}

.icon-highlight {
    padding: 5px 10px;
    text-shadow: none;
}

.email-text {
    display: none;
}

.show-hide-control {
    display: inherit;
}

.collapse-on-mobile {
    display: none;
}

.skills-list {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
}

.footer {
    /* display: none; */
    display: grid;
    grid-auto-flow: row;
    justify-items: start;
    gap: 10px;

    grid-template-columns: 1fr;
}

.contact-cta {
    justify-self: start;
}

.cta-icon {
    justify-self: end;
}

.writing-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.work-half {
    grid-column: span 2;
}

.works-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 20px;
}

.playlist-groups {
    max-width: 680px;
    columns: 1;
    column-gap: 0px;
}

.case-study-overview {
    grid-template-columns: 1fr;
}

.case-study-list-item-content-full {
    grid-template-columns: 1fr;
}

.case-study-photo-index-wide {
    padding-top: 20px;
}

.wiritng-medium-link {
    height: 175px; /* hmw replace pixels? */
}

.case-study-body-two-col {
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

} 