@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}

h1, h2, p {
    color: #1A1919;
}

h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
}

h2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
}

p, a, li {
    /* font-weight: 400; */
    font-size: 14px;
    line-height: 26px;
}

a {
text-decoration: none;
color: #005CC7;
}

ul {

}

li {

}

hr {
    opacity: 0.2;
    border: .5px solid #979797;
}

.highlight-text {
    color: #005CC7;

    background: #FEF1A8;

    font-style: normal;
    /* border-radius: 1em 0 1em 0; */
    text-shadow: 1px 1px 1px #fff;
    /* background-image: 
      linear-gradient(-100deg, 
        rgba(255,250,150,0.15),
        rgba(255,250,150,0.8) 100%, 
        rgba(255,250,150,0.25)
      ); */
}

.two-columns {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
}

.no-bullet {
    list-style-type: none;
    padding-left: 0;
}

.logo-icon {
    width: 55px;
    height: auto;
}

.faux-link {

}

.logo-text {
    
}

.text-label {
    font-weight: 400;
    font-size: 14px;
    color: #77716F;
    /* text-align: right; */
    line-height: 26px;
}

.text-link {
    font-weight: 500;
    font-size: 14px;
    color: #005CC7;
    /* text-align: right; */
    line-height: 26px;
}

.footer-item {
    display: inline;
}

.case-study-list {

}

.work-full {

}

.work-half {

}

.works-grid {

}

.work-grid-item {

}

.blue-bg {
    background: #E2EFF9;
}

.teal-bg {
    background: #D7EFEE;
}

.peach-bg {
    background: #FCE7DD;
}

.beige-bg {
    background: #F6F1E4;
}

.black-text {
    color: #000000;
}

.blue-text {
    color: #005CC7;
}
